# model archive
model_arch: TransformerKWSPhone_nocross_w_ctc

# model config
model_config:
  audio_net_config:
    input_trans: &linear_common
      dim: [256, 256]
      num_block: 1
      norm: LayerNorm
      act: ReLU
    transformer_config: 
      size: 256
      self_att: MultiHeadAtt
      self_att_config: &att_common
        n_head: 4
        n_feats: 256
      cross_att: MultiHeadCrossAtt
      corss_att_config: 
        n_head: 1
        n_feats: 256
        norm: LayerNorm
      feed_forward_config: &feed_forward_common
        dim: [256, 512, 256]
        num_block: 1
        norm: LayerNorm
        act: ReLU
      conv_config:
        channels: 256

  kw_net_config:
    #num_token: 31 # letter 1-26 special token ' and tow keyword pos_token 28, 29, 30 for unknown
    num_phn_token: 75
    input_trans: 
      dim: 256
      num_block: 1
      norm: LayerNorm
      act: ReLU
    transformer_config:
      size: 256
      self_att: MultiHeadAtt
      self_att_config: *att_common
      feed_forward_config: *feed_forward_common
  au_kw_net_config:
    input_trans: 
      dim: 256
      num_block: 1
      norm: LayerNorm
      act: ReLU
    transformer_config:
      size: 256
      self_att: MultiHeadAtt
      self_att_config: *att_common
      feed_forward_config: *feed_forward_common
  num_audio_self_block: 4
  num_kw_self_block: 4
  num_au_kw_concat_block: 4
  sok: 1
  eok: 2
  loss_weight: 
    ctc_loss: 0.3
    det_loss: 0.7

# experimental config
exp_config:                                      
  exp_dir: /work104/lishuailong/text_enroll_md-share_clean/exp/train_config_english_librispeech_V1
  warm_up_peak_epoch: 5
  exp_name: kwatt_asr
  optim_config:
    lr: 0.001
  log_config:
    level: "INFO"
    filemode: "a"
    format:  "%(asctime)s: %(message)s"
  log_interval: 5
  valid_interval: 100

# data config
data_config: &base_data_config
  epoch: 51
  start_epoch: 0
  shuffle: True
  num_worker: 32
  sph_config: !include /work104/lishuailong/text_enroll_md-share_clean/config/base_config/musan_nonspeech_kaldi_lex2_tone_aishell2_cut_reverb_perturb_keyword_init_final_spec0.8.dragon03.yaml
  keyword_config:
    format: sample
    config:
      positive_prob: 0.5
      target_level: [phone]
      sample_func_choice:
        choices:
          - name: sample_kw_from_label
            prob: 0.0
            params:
              min_keyword_len: 2
              max_keyword_len: 5
          - name: sample_kw_using_whole_label
            prob: 0.0
            params:
              min_keyword_len: 2
              max_keyword_len: 5
      neg_sample_func_choice:
        choices:
          - name: substitution_neg_by_lex
            prob: 0.0
            params: {}
          - name: substitution_neg_by_lex_shengyun_constraint
            prob: 0.0
            params:
              p_change: 0.5
              type_weights:
                init: 0.4
                final: 0.4
                both: 0.2
          - name: substitution_neg_by_lex_shengyun_constraint_tone
            prob: 0.0
            params:
              p_change: 0.8
              type_weights:
                init: 0.1
                final: 0.1
                both: 0.1
                tone: 0.7
          - name: substitution_neg_md
            prob: 0.0
            params:
              max_sub_ratio: 0.5
              min_sub: 1
      aux_lexicon: /work104/lishuailong/librispeech_cleaned_data/datalist/aux_lexicon_full.json
  length_key: speech,keyword
  # fetch_key: speech,speech_len,phn_label,phn_label_len,keyword,keyword_len,target
  fetch_key: speech,speech_len,phn_label,phn_label_len,keyword,keyword_len,target
  batch_size: 150
  data_list: /work104/lishuailong/librispeech_cleaned_data/datalist/datalist.english.train.json
  valid_list: /work104/lishuailong/librispeech_cleaned_data/datalist/datalist.english.valid.json

# 没修改完，再看看代码